### IntelliJ ###
*.iml
.idea/

### Gradle ###
# Exclude Folder List #
.gradle/
build/
gradle.properties

/local.properties
.DS_Store
app/libs/
handtalkunityclean/build
handtalkunityclean/src/main/res/drawable-xhdpi/

## Hand Talk ##
JCenter/