*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/
app/libs/
app/src/main/res/drawable/
handtalkunityclean/build/generated/assets/
handtalkunityclean/build/generated/res/
handtalkunityclean/build/generated/source/aidl/
handtalkunityclean/build/generated/source/apt/
handtalkunityclean/build/generated/source/rs/
handtalkunityclean/build/intermediates/bundles/debug/aidl/
handtalkunityclean/build/intermediates/bundles/release/aidl/
handtalkunityclean/build/intermediates/dependency-cache/
handtalkunityclean/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
handtalkunityclean/build/intermediates/incremental/packageDebugResources/aapt-temp/
handtalkunityclean/build/intermediates/incremental/packageReleaseResources/aapt-temp/
handtalkunityclean/build/intermediates/incremental/processDebugAndroidTestResources/
handtalkunityclean/build/intermediates/incremental/processDebugResources/
handtalkunityclean/build/intermediates/incremental/processReleaseResources/
handtalkunityclean/build/intermediates/lint/
handtalkunityclean/build/intermediates/manifest/tmp/
handtalkunityclean/build/intermediates/rs/
handtalkunityclean/build/intermediates/shaders/
handtalkunityclean/build/intermediates/transforms/mergeJavaRes/
handtalkunityclean/build/tmp/
handtalkunityclean/src/main/res/drawable-xhdpi/
